{% extends 'base.html' %}

{% block content %}
    <h1>Contacts</h1>
    <p>This is a contacts template</p>
    
    
    <!-- <p>{{ request.user }}</p> -->
    <!-- <p>{{ request.user.is_authenticated }}</p> -->

    <ul>
        <li>{{ title|title }}</li>
        <li>{{my_html|safe}}</li>
        <li>{{slugged_and_stripped|striptags|slugify}}</li>
    </ul>
    <ul>
    {% for my_sub_item in my_list %}
        {% if my_sub_item == 456 %}
            <li>{{ forloop.counter }} - {{ my_sub_item|add:93123118 }}</li>
        {% elif my_sub_item == "Yo!" %}
            <li>{{ forloop.counter }} - "I'm still saying hello!"</li>
        {% else %}
            <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}